# macOS 系統產生的隱藏設定檔
.DS_Store

# Python 自動生成的快取資料夾與檔案
__pycache__/
*.pyc

# 環境變數、金鑰檔、Gradio 產生的本地暫存與快取資料夾
.env
.venv
*.parquet
.gradio/

# 本地備份與測試用的檔案
data/
raw/
processed/
log/
data_fetch/
test.py


# Other
文獻/